/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 01. Header */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
  font-family: inherit;
  font-size:var(--fs-3xs) ;
  margin: 0; 
  background: var(--clr-dark);
  min-width: 850px; 
}

header button {
  margin:0 0 0 0;
  text-align: left;
  background: transparent;
  color: var(--clr-light);
  font-size: var(--fs-3xs);
  font-weight: var(--fw-extralight);
}

header button p {
  margin:0 0 0 0;
  text-align: left;
  font-size: var(--fs-4xs);
  font-weight: var(--fw-extralight);
}

header button p strong{
  margin:0 0 0 0;
  font-size: var(--fs-3xs);
  font-weight: var(--fw-semibold);
}

/* Top - Navigation */

#top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);

  padding-left: 10px;
  padding-right: 0px;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

/* Left section */

.left-section {
  width: 180px;
}

/* Middle section */

.middle-section {
  flex: 1;
  max-width: 1300px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
}

/* right section */

.right-section {
  /* flex: 1;
  max-width: 400px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

/* Home-Bar */

header #Home-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-base);
  color: var(--clr-light);

  padding-left: 10px;
  padding-right: 0px;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

#Home-bar button{
  font-weight: var(--fw-base);
}

/* Nav-left */

#Home-bar .nav-left {
  flex: 1;
  max-width: 140px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#Home-bar .nav-left i{
  opacity:0.5;
}

/* Nav-mid */

header #Home-bar .nav-mid{
  flex: 1;
  max-width: 1300px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

#Home-bar .nav-mid button{
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

#Home-bar .nav-mid button i{
 opacity: 0.5;
}

#Home-bar .nav-right button {
  opacity:0.6;
  padding-left: 15px;
  padding-right: 15px;
}

/* Nav-right */

#Home-bar .nav-right button p{
  font-size: var(--fs-3xs);
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 02. Homepage */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#homepage {
  font-family: inherit;
  font-size:var(--fs-3xs) ;
  margin: 0; 
  background: var(--clr-light);
  min-width: 850px ;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 03. Homepage */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
  position: relative;
  display: block;
  font-family: inherit;
  color: var(--clr-light);
  background: var(--clr-dark);
  margin: auto;
}

/* Footer button */
footer .footer-btn{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:var(--clr-base2) ; 
  cursor:pointer;
}

footer button{
  background-color: inherit;
  color: var(--clr-light);
  font-size: var(--fs-xs);
  padding:10px 20px;
}

footer button:hover, footer button:active,footer button:focus, footer button:visited{
  border:none;
}

.footer-btn:hover{
  opacity:0.9;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.scroll-products > div {
  display: flex;
  overflow-x: auto;
  gap:10px;

  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height:200px;
}

.sell-products img{
  gap:30px;
  background: var(--clr-slate);
  z-index: 9;
  min-width: 50%;
}

.sell-products button{
  max-width: 100%;
}