/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");


/* css */

@import url(image-grid.css);
@import url(responsive.css);
@import url(product.css);


/* Webpage Styling */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {

  font-family: "Outfit", sans-serif;

  /* Font Weight */

  --fw-thin      :100;
  --fw-extralight:200;
  --fw-light     :300;
  --fw-base      :500;
  --fw-semibold  :600;
  --fw-bold      :700;
  --fw-extrabold :800;
  --fw-black     :900;

  /* Color Scheme */

  --clr-light  :#f2f2f2;
  --clr-dark   :#131A22;
  --clr-base   :#232F3E;
  --clr-base2  :#485769;
  --clr-baseR  :#232f3eaf;
  --clr-accent1:#FEBD69;
  --clr-accent2:#FF9900;
  --clr-slate  :#ebebeb;
  --clr-red    :#CC0C39;
  --clr-hover  :hsl(206, 76%, 48%);

  /* Color base */

  --clr-black:#000000;
  --clr-white:#fff;

  /* Fonst Size */

  --fs-4xs  : 0.5rem;
  --fs-3xs  : 0.60rem;
  --fs-2xs  : 0.65rem;
  --fs-xs   : 0.75rem;
  --fs-sm   : 1rem;
  --fs-base : 1.25rem;
  --fs-lg   : 1.5rem;
  --fs-xl   : 1.75rem;
  --fs-2xl  : 2rem;
  --fs-3xl  : 3rem;
  --fs-4xl  : 4rem;
  --fs-5xl  : 5rem;

  /* Line Height */

  --lh-none   : 1;
  --lh-tight  : 1.25;
  --lh-snug   : 1.375;
  --lh-normal : 1.5;
  --lh-relaxed: 1.625;
  --lh-loose  : 2;
}

html,body {

  display: block;
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-base);
  line-height: 1.6;
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100%;
  
}

/* typography */

h1,h2,h3,h4,h5,h6, p{
  font-family: inherit;
  font-style: normal;
  color: var(--clr--slate);
  font-weight: var(--fw-light);
  margin: 0;
}

em, strong {
	font-size: var(--fs-xs);
}

strong{
  font-family: inherit;
  font-style: normal;
  font-weight: var(--fw-semibold);
}

em {
  font-family: inherit;
  font-style: italic;
  font-weight: var(--fw-base);
}

/* links */

a, a:visited {

  position: relative;
  
  font-size: var(--fs-xs);
  font-weight: var(--fw-light);

  text-decoration: none;
  cursor: pointer;
  /* animation */
	transition: all 0.3s ease-in-out;
}

a:hover, a:focus, a:active {
	color: var(--clr-accent1);
	outline: none;
}

/* Input and button */

input{
  position: relative;
  color: var(--clr--base);

  font-family: inherit;
  font-style: normal;
  font-size: var(--fs-xs);
  font-weight: var(--fw-base);

  border: none;
}

button,button:visited {
  position: relative;
  display: inline-block;

  font-family: inherit;
  font-style: normal;
  font-size: var(--fs-xs);
  font-weight: var(--fw-light);

  text-align: center;
  text-decoration: none;

  transition: all 0.3s ease-in-out;

  cursor: pointer;
  border:none; 
}

button:hover, button:focus, button:active {
  border: 1px solid var(--clr-light);
}

/*----------------------------------- Dropdown -------------------------------------*/

.dropdown {
  overflow: hidden;
}

.dropdown .dropdown-btn {
  color: var(--clr-light);
  background-color: var(--clr-white);
  font-family: inherit;
  font-style: normal;
  font-size: var(--fs-xs);
  font-weight: var(--fw-light);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--clr-light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:999;
}

.dropdown-content a {
  float: none;
  color: var(--clr-base);
  padding: 0;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--clr-hover);
  color: var(--clr-light);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 01. Header */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
  font-family: inherit;
  font-size:var(--fs-3xs) ;
  margin: 0; 
  background: var(--clr-dark);
  min-width: 850px; 
}

header button {
  margin:0 0 0 0;
  text-align: left;
  background: transparent;
  color: var(--clr-light);
  font-size: var(--fs-3xs);
  font-weight: var(--fw-extralight);
}

header button p {
  margin:0 0 0 0;
  text-align: left;
  font-size: var(--fs-4xs);
  font-weight: var(--fw-extralight);
}

header button p strong{
  margin:0 0 0 0;
  font-size: var(--fs-3xs);
  font-weight: var(--fw-semibold);
}

/*----------------------------------------------------------------------*/
/* Top - Navigation */
/*----------------------------------------------------------------------*/

header #top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);

  padding-left: 10px;
  padding-right: 0px;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

/*----------------------------------------------------------------------*/
/* Left section */
/*----------------------------------------------------------------------*/

#top-nav .left-section {
  width: 180px;
}

/* Logo */
#top-nav .logo-btn {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-light);
  background: transparent;
}

.logo {
  width: 100px;
  margin-top: 5px;
}

.mobile-logo {
  display: none;
}

.left-section button {
  font-weight: var(--fw-base);
  font-size: var(--fs-3xs);
}

/*----------------------------------------------------------------------*/
/* Middle section */
/*----------------------------------------------------------------------*/

.middle-section {
  flex: 1;
  max-width: 1300px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
}

/* Location */
.middle-section .location button {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

.location button span {
  display:none;
}

.location button .location-icon{
  position:absolute;
  left:-23px;
  top: 10px;
}

/* search bar */

.search-bar{
  flex: 1;
  width: 0;
  height:40px;
  color: var(--clr-base);
  padding:10px 15px 10px 5px;
  font-size: var(--fs-2xs);
}

.middle-section .all button{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-slate);
  color: var(--clr-baseR);
  font-size: var(--fs-2xs);
  font-weight: var(--fw-base);
  padding:10px 15px 10px 15px;
  width:55px;
  flex: 1;
  height:40px;
  border-right: 0.1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
}

.middle-section .search-btn {
  background-color: var(--clr-accent1);
  color: var(--clr-base2);
  font-size: var(--fs-sm);
  border-radius: 0px 5px 5px 0px;
  padding: 5px 5px 5px 5px;
  width: 45px;
  height: 40px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

/*----------------------------------------------------------------------*/
/* right section */
/*----------------------------------------------------------------------*/

#top-nav .right-section {
  /* flex: 1;
  max-width: 400px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

/* languages */
.right-section .languages button{
  font-size: var(--fs-2xs);
  font-weight: var(--fw-semibold);
  background: transparent;
  padding:10px 15px 10px 5px;
  height: 60px;
}

.languages button i {
  opacity:0.5;
  font-size: var(--fs-4xs);
}

/* sign In nav */
.right-section .signin button{
  font-size: var(--fs-2xs);
  font-weight: var(--fw-semibold);
  background: transparent;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
}

.signin button i {
  opacity:0.5;
  font-size: var(--fs-4xs);
}

.signin button span{
  display:none;
}

/* Returns Btn */

.right-section .returns button{
  font-size: var(--fs-2xs);
  font-weight: var(--fw-semibold);
  padding:5px 10px 5px 5px;
  margin:0px 5px 0px 10px;
}

.returns button span{
  display:none;
}

/* cart */

.right-section .cart{
  background: var(--clr-dark);
  color: var(--clr-light);  
  padding-left: 15px;
  padding-left: 15px;
}

.cart img {
  margin-top: 8px;
  margin-right: 50px;
  width: 40px;
  height: 28px;
 }

 .cart strong{
  position: absolute;
  font-size: var(--fs-2xs);
  font-weight: var(--fw-semibold);
  right:25px;
  top:20px;
 }

 .cart p{
  position: absolute;
  font-size: var(--fs-xs);
  font-weight: var(--fw-semibold);
  color:var(--clr-accent2);
  right: 62px;
  top:5px;
 }

/*----------------------------------------------------------------------*/
/* Home-Bar */
/*----------------------------------------------------------------------*/

header #Home-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-base);
  color: var(--clr-light);

  padding-left: 10px;
  padding-right: 0px;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

#Home-bar button{
  font-weight: var(--fw-base);
}

/* Nav-left */

#Home-bar .nav-left {
  flex: 1;
  max-width: 140px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#Home-bar .nav-left i{
  opacity:0.5;
}

/* toggle */
#Home-bar .nav-left .toggle button {
  padding-left: 30px;
  padding-right: 10px;
  height: 40px;
}

/* ham burger Menu*/

#Home-bar .nav-left .ham-burger {
  display: block;
  position: relative; 
  right: 25px;
  top: 9.5px;
}

.ham-burger,
.ham-burger::before,
.ham-burger::after {
  background: var(--clr-light);
  width: 15px;
  height: 2.2px;
  border-radius: 10px;
  transition: transform 250ms ease-in-out;
}

.ham-burger::before,
.ham-burger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.ham-burger::before { top: 4px; }
.ham-burger::after { bottom: 4px; }

/* Fresh */

#Home-bar .nav-left .fresh button{
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

/* Nav-mid */

header #Home-bar .nav-mid{
  flex: 1;
  max-width: 1300px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

#Home-bar .nav-mid button{
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

#Home-bar .nav-mid button i{
 opacity: 0.5;
}

/* Button Column */

#Home-bar .nav-mid .btn-col{
  flex: 1;
  width: 0;
  height:40px;
}

/* Nav-right */

#Home-bar .nav-right button {
  opacity:0.6;
  padding-left: 15px;
  padding-right: 15px;
}

#Home-bar .nav-right button p{
  font-size: var(--fs-3xs);
}


#Home-bar .nav-right button span{
  display: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 02. Homepage */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#homepage {
  font-family: inherit;
  font-size:var(--fs-3xs) ;
  margin: 0; 
  padding: 0; 
  background: var(--clr-light);
  min-width: 850px ;
}

/*----------------------------------------------------------------------*/
/* Image-Slider */
/*----------------------------------------------------------------------*/

#img-slider-container{
  position: relative;
  padding:0;
  margin:0 auto -300px auto;
}

#img-slider-container .slider-wrap{
  display: flex;
  overflow-y:hidden;
  margin:auto;
}

.slider-wrap img{
  max-width: 100%;
  min-height: 550px;
  margin: auto;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, #f2f2f2 40%, transparent 100%);
}

#img-slider-container button{
  position: absolute;
  padding:20px;
  font-weight: var(--fw-extralight);
  background: transparent;
  top: 100px;
}

#img-slider-container button{
  border:none;
}

#img-slider-container a{
  font-size: var(--fs-4xl);
  font-weight: var(--fw-thin);
  background: transparent;
}

#img-slider-container a:hover{
  color:var(--clr-base2)
}

#img-slider-container .slider-left-btn{
  left:50px ;
  z-index: 99;
  text-shadow: 3px 0px 2px var(--clr-white);
 }

#img-slider-container .slider-right-btn{
 right:50px ;
 z-index: 99;
 text-shadow: -3px 0px 2px var(--clr-white);
}

.fade {
  animation-name: fade;
  animation-duration: 0.1s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

/*----------------------------------------------------------------------*/
/* Image-grid */
/*----------------------------------------------------------------------*/

#grid-home-container{
  min-width:850;
  margin: 0vh 25px 0vh 25px;
}

#grid-container{
  min-width:850;
  margin: 0vh 25px 0vh 25px;
}

.grid-row button, .grid-row button:visited { 
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-light);
  background: transparent;
  transition: none;
}

.grid-row button:hover,.grid-row button:focus,.grid-row button:active {
  border: none;
}

.grid-row button img{
  max-width: 100%;
  height:100%;
  object-fit: cover;
}

.grid-row .grid-col h2{
  font-weight: var(--fw-bold);
  font-size:var(--fs-sm) ;
  color: var(--clr-base);
  text-align: left;
}

.grid-row .grid-col a{
  font-weight: var(--fw-semibold);
  font-size:var(--fs-4xs) ;
  color: var(--clr-base);
}

.grid-col a:hover{
  color:var(--clr-accent2);
  text-decoration: underline;
}
  
.grid-box .box p{
  font-size:8px;
  font-weight: var(--fw-base);
}

.grid-box button{
  max-width: 100%;
}

.grid-box button img{
  max-width:100%;
  height:100%;
  object-fit: cover;
}


/*----------------------------------------------------------------------*/
/* Image-scroll */
/*----------------------------------------------------------------------*/

.home-bottom{
  min-width: 850px;
}

.scroll-container{
  background: var(--clr-white);
  padding:15px 20px 15px 20px;
  box-shadow:2px 2px 5px #ccc;
  margin:20px 85px;
}

.scroll{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.scroll-container .scroll-products{
  display: flex;
  overflow-x: auto;
  gap:10px;

  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height:200px;
  background: var(--clr--slate);
}

.scroll-products::-webkit-scrollbar{
  display: none;
}

.scroll-container h2{
  font-weight: var(--fw-bold);
  font-size:var(--fs-base) ;
  color: var(--clr-base);
  text-align: left;
}

.scroll button{
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-size: var(--fs-2xl);
  font-weight: var(--fw-thin);
  background: var(--clr-white);

  text-align: center;
  text-decoration: none;
  padding:60px 5px 60px 5px;

  opacity: 0;
  transition: all 0.3s ease-in-out;
  border:none;

  cursor: pointer;
  z-index: 99;
}

.scroll-container:hover button{
  opacity:1;
}

.scroll-container button:hover{
  color: var(--clr-accent2);
  border: none;
}

.scroll-products img{
  padding: 20px 20px;
 }
 
/*----------------------------------------------------------------------*/
/* Image-scroll */
/*----------------------------------------------------------------------*/
.sell-container{
  background: var(--clr-white);
  padding:15px 20px 15px 20px;
  box-shadow:2px 2px 5px #ccc;
  margin:20px 85px;
}

.sell{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sell-products {
  display: flex;
  overflow-x: auto;
  gap:10px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height:320px;
  padding:20px 0px;
}

.sell-products a{
  font-weight: var(--fw-semibold);
  font-size:var(--fs-2xs) ;
  color: var(--clr-base);
}

.sell-products a:hover{
  color:var(--clr-accent2);
}


.sell-products > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  padding: 20px 0px;
  align-items:start;
  flex-direction: column;
  background: var(--clr-white);
  z-index: 9;
}

.sell-products button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-white);
  z-index: 9;
  width: 70%;
}

.sell-products button img{
  width: 250px;
  height:180px;
  padding: 20px;
  object-fit: contain;
  background: var(--clr-light);
}

.sell-products::-webkit-scrollbar{
  display: none;
}

.sell-products button{
  max-width: 100%;
}

.sell-container h2{
  font-weight: var(--fw-bold);
  font-size:var(--fs-base) ;
  color: var(--clr-base);
  text-align: left;
}

.sell .btn{
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-size: var(--fs-2xl);
  font-weight: var(--fw-thin);
  background: var(--clr-white);

  text-align: center;
  text-decoration: none;
  padding:20px 5px 80px 5px;

  opacity: 0;
  transition: all 0.3s ease-in-out;
  border:none;

  cursor: pointer;
  
  z-index: 99;
}

.sell-container:hover .btn{
  opacity:1;
}

.sell-container .btn:hover{
  color: var(--clr-accent2);
  border: none;
}

.sell-products a button{
  display: block;
  padding: 0px 0px 0px 5px;
  width: 45px;
  text-align: left;
  justify-content: center;
  align-items: center;
  background: var(--clr-red);
  color: var(--clr-light);
  font-size: var(--fs-4xs);
}

.sell-products a{
  font-weight: var(--fw-semibold);
  font-size:var(--fs-4xs) ;
  color: var(--clr-base);
}

.sell-products a:hover{
  color:var(--clr-accent2);
  text-decoration: none;
}

.sell-products a p{
  font-weight: var(--fw-bold);
  font-size:var(--fs-2xs) ;
  color: var(--clr-dark);
}

.sell-products a span{
  border: none;
  padding: 0px 2px;
  background: var(--clr-light);
  color: var(--clr-red);
  font-size: var(--fs-2xs);
  font-weight: var(--fw-bold);
}