#products{
  padding: 0px 10px 0px 10px;
  display: grid;
  grid-gap:12px;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  grid-auto-rows: min-content;
}

.pro-box{
  background: var(--clr-white);
  padding: 40px 25px 25px 25px;

  border: 1px solid var(--clr-lightbase);

  display: flex;
  flex-direction: column;
}

.pro-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}
